/*================单次动画*/
@keyframes fadeInDown{
	from{
		transform: translateY(-200%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes fadeInUp{
	from{
		transform: translateY(200%);
		opacity: 0;
	}
	to{
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes fadeInLeft{
	from{
		transform: translateX(200%);
		opacity: 0;
	}
	to{
		transform: translateX(0%);
		opacity: 1;
	}
}
@keyframes fadeInRight{
	from{
		transform: translateX(-200%);
		opacity: 0;
	}
	to{
		transform: translateX(0%);
		opacity: 1;
	}
}
fadeInDown{
	animation-name: fadeInDown;
	animation-delay: 0.5;
	animation-delay: 2s;
}
fadeInUp{
	animation-name: fadeInUp;
	animation-delay: 0.5;
	animation-delay: 2s;
}
fadeInLeft{
	animation-name: fadeInLeft;
	animation-delay: 0.5;
	animation-delay: 2s;
}
fadeInRight{
	animation-name: fadeInRight;
	animation-delay: 0.5;
	animation-delay: 2s;
}
/*===============================鼠标触发动画*/
/*图片由暗变亮*/
.becomeLight{
	position:relative;
	width:300px;
	height:200px;
	overflow: hidden;
	border:5px solid white
}
.becomeLight img{
	width:100%;
	height:100%
}
.becomeLight .shade{
	position: absolute;
	top:-100px;
	left:-50px;
	width:400px;
	height:400px;
	border:200px solid rgba(0,0,0,0.5);
	border-radius: 200px;
	transition: all 0.5s ease-in-out;
	box-sizing: border-box;
	opacity:1;
}		
.becomeLight:hover .shade{
	opacity:0;
	border:0px solid rgba(0,0,0,0);/*由内往外变亮，相反则由内往外*/
}
/*摇摆按钮*/
@keyframes becomeWave	 {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
    background: firebrick;
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
    background: #333;
  }
}
.becomeWave	{
  transform-origin: 100% 0; 
  transform-style:preserve-3d;
}
.becomeWave:hover{
  animation-name: becomeWave;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
/*边框和顶部图标背景变黑*/
.becomeClear{
	position:relative
}
.becomeClear .text{
	width:4rem;
	height:4rem;
	border-radius: 2rem;
	transition: all 0.5s;
	border: 2px solid transparent;
}
.becomeClear .ico{
	position: absolute;
	top:-0.5em;
	left:1.5em;
	width:1rem;
	height:1rem;
	border-radius: 0.5rem;
	background: lightblue;
	transition: background 0.5s;
}
.becomeClear:hover .text{
	border: 2px solid #313131;
}
.becomeClear:hover .ico{
	background: black;
}

/*卡片的3d水平翻转*/
.card-content {
	perspective: 1000px;	
}
.card-content:hover .card{/*默认为.card-content下.card*/
	transform: rotateY(180deg);
}
.card-content, .front, .back {
	width: 4rem;
	height: 4rem;
}
.card {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background: red;
}
.back {
	transform: rotateY(180deg);
}
/*卡片的3d垂直翻转*/
.card-content:hover .card-v{
	transform: rotateX(180deg);
}
.card-v {
	transition: 0.6s;
	transform-origin: 100% 2rem; /* 高的一半 */
	transform-style: preserve-3d;
	position: relative;
}
.card-v .back {
	transform: rotateX(180deg);
}
/*图片放大*/
.toBig:hover{
    transform: scale(1.5,1.5);
    transition: all 500ms ease-in;
}
/*图片旋转*/
.toRotate:hover{
    transform:rotateZ(100deg);
    transition: all 500ms ease-in;
}

/*展会资讯动画 旋转+放大+遮罩+图片逐桢*/
.effect{
	position: relative;
	overflow: hidden;/*避免图片过大超出，也可以直接设置突变的大小*/
	width:10rem;
	height:6rem
}
.effect img{
	width:100%;
	height:100%;
	top:0;
	position: absolute;
}
.effect .shade{
	position: absolute;
	width:100%;
	height:100%;
	margin:0 auto;
	background:rgba(255,255,255,0.5);
	transform: scale(0,0);/*开始就缩放到最小，从而不显示*/
	border-radius: 100%;/*这里使用百分比100%，即一个圆*/
	
}
.effect:hover img{
	transform: scale(2,2);
    transition: all 500ms ease-in;
}

.effect:hover .shade{
	transform: scale(1.5,1.5);
	transition: all 500ms ease-in;
}


.caption{
    position: absolute;
    top: 0;
    left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    width: 250px;
    height: 250px;
    z-index: 2;
}
.effect .caption {
    background: url(../img/burst.png) no-repeat;
    background-position: 0 0;
    -webkit-animation: capcircleout 0.75s steps(20) forwards;
    -o-animation: capcircleout 0.75s steps(20) forwards;
    animation: capcircleout 0.75s steps(20) forwards;
	-moz-animation: capcircleout 0.75s steps(20) forwards;
	-ms-animation: capcircleout 0.75s steps(20) forwards;
}

.effect:hover .caption{
	/*谷歌【chrome】/苹果【safari】内核识别码*/
    -webkit-animation: capcirclein 0.75s steps(20) forwards;
    /*欧朋【opera】内核识别码*/
    -o-animation: capcirclein 0.75s steps(20) forwards;
    /**/
    animation: capcirclein 0.75s steps(20) forwards;
    /*-moz代表火狐【firefox】内核识别码*/
	-moz-animation: capcirclein 0.75s steps(20) forwards;
	/*代表【ie】内核识别码*/
	-ms-animation: capcirclein 0.75s steps(20) forwards;
}

@-webkit-keyframes capcirclein {
    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}
@-o-keyframes capcirclein {
    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}
@-moz-keyframes capcirclein {
    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}
@keyframes capcirclein {
    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}
@-webkit-keyframes capcircleout {
    from { background-position: -5000px 0; }
    to { background-position: 0px 0; }
}
@-o-keyframes capcircleout {
    from { background-position: -5000px 0; }
    to { background-position: 0px 0; }
}
@-moz-keyframes capcircleout {
    from { background-position: -5000px 0; }
    to { background-position: 0px 0; }
}
@keyframes capcircleout {
    from { background-position: -5000px 0; }
    to { background-position: 0px 0; }
}